<hr>
<div style="text-align: center;">
    {{ foodAboutToBeLogged.description }}
</div>
<hr>
<div class="container">
    <div>
        Serving:
        <form class="form-inline">
            <input type="text" class="form-control" id="name" required size="5" style="text-align: center;">
            <select [(ngModel)]="selectedMesurement" class="form-control" name="selectedMesurement">
                <option *ngFor="let measurement of availableFoodMesurements" [value]="measurement">{{ measurement }}</option>
              </select>
            <div>
                <button class="btn btn-info">Add</button>
            </div>
        </form>
    </div>
</div>