<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/diaries" class="nav-link" routeLinkActive="active-link">
      <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
    </a>
  </div>
  <br>

  <div class="container">
    <form (ngSubmit)="!diaryForm.invalid && fetchDiary()" #diaryForm="ngForm">
      <fieldset class="form-group">
        <mat-calendar (ngModelChange)="diaryTargetDate = $event" [selected]="diaryTargetDate"
          (selectedChange)="diaryTargetDate = $event" name="targetDate"></mat-calendar>
      </fieldset>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</aside>

<button type="button" class="btn btn-light" (click)="openDialog()">ADD FOOD</button>

<hr>
<table class="table table-striped">
  <thead class="text-light bg-secondary">
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Unit</th>
      <th scope="col">Calories</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <!-- loop over the collection of diary entries -->
    <tr *ngFor="let tempDiaryEntry of diaryEntries">
      <th scope="row">{{ tempDiaryEntry.description }}</th>
      <td>{{ tempDiaryEntry.amount }}</td>
      <td>{{ tempDiaryEntry.unit }}</td>
      <td>{{ tempDiaryEntry.calories }}</td>
      <td><button (click)="deleteEntry(tempDiaryEntry.id)" class="btn btn-warning">Delete</button></td>
    </tr>

  </tbody>
</table>