<table class="table table-striped">
    <thead class="text-light bg-secondary">
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Unit</th>
        <th scope="col">Calories</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">Tomato, raw</th>
          <td>150</td>
          <td>g</td>
          <td>90</td>
        </tr>
        <tr>
          <th scope="row">Cheese</th>
          <td>50</td>
          <td>g</td>
          <td>120</td>
        </tr>
      </tbody>
</table>
