<div class="form-block">
<div>
  <label>Search nutrient</label>
  <br>
  <select [(ngModel)]="selectedFoodName">
    <option *ngFor="let foodName of foodNames" [ngValue]="foodName" >{{foodName}}</option>
  </select>
</div>
<p>

<div>
  <label>Find the top</label>
  <br>
  <select [(ngModel)]="selectedFoodCount">
    <option *ngFor="let foodCount of topFoodCountOptions" [ngValue]="foodCount" >{{foodCount}}</option>
  </select>
</div>

<br>
<button type="button" class="btn btn-info" (click)="onSubmitClick()">Submit</button>
</div>

