<div class="form-block">
  <div class="container">

    <form (ngSubmit)="!askOracleForm.invalid && onSubmitClick()" #askOracleForm="ngForm">
      <fieldset class="form-group">
        <label>Search nutrient</label>
        <select [(ngModel)]="selectedFoodName" class="form-control" name="selectedFoodName">
          <option *ngFor="let foodName of foodNames" [ngValue]="foodName">{{ foodName }}</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label>Find the top</label>
        <select [(ngModel)]="selectedFoodCount" class="form-control" name="selectedFoodCount">
          <option *ngFor="let foodCount of topFoodCountOptions" [value]="foodCount">{{ foodCount }}</option>
        </select>
      </fieldset>

      <button type="button" class="btn btn-info" (click)="onSubmitClick()">Submit</button>
    </form>
  </div>
</div>